<form>
  <div class="form-group">
    <label for="advancedTitle"><%= t ".title" %></label>
    <input id="advancedTitle" class="form-control form-control-sm"/>
  </div>
  <div class="form-group">
    <label for="advancedAu"><%= t ".author" %></label>
    <input id="advancedAu" class="form-control form-control-sm"/>
  </div>
   <div class="form-group">
    <label for="advancedPub"><%= t ".publisher" %></label>
    <input id="advancedPub" class="form-control form-control-sm"/>
  </div>
  <a class="btn btn-sm form-control btn-primary" id="advancedSearch"><i class="fa fa-search"></i></a>
</form>
