@import 'bootstrap';
@import 'color';
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import 'social-share-button';

html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: $color_wild_sand_approx;
}

.carousel-item {
  height: 50vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &:after {
    background-color: $color_log_cabin_approx;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

.navbar-nav{
  a {
    font-size: 15px;
    color: white !important;
    text-transform: uppercase;
    font-weight: 450;
    &:hover{
      color: $color_texas_rose_approx !important;
    }
  }
}

.navbar-brand {
  font-size: 18px;
  color: white !important;
  &:hover{
    color: $color_texas_rose_approx !important;
  }
}

.carousel-caption {
  top: 30%;
  font-family: Montserrat, sans-serif;
  p .h3 {
    font-size: 20px;
    font-weight: 700;
  } 
}

.affix-top{
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
  
}

.affix{
  background: $color_pine_green_approx;
  box-shadow: 0 10px 20px $black_19, 0 6px 6px rgba(0,0,0,0.23);
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: $color_tropical_rain_forest_approx;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.space-80 {
  height: 80px;
}

.space-40 {
  height: 40px;
}

.margin-header {
  margin-top: 54px;
  min-height: 410px;
}

.mapouter{
  text-align: right;
  height: 400px;
  width: 400px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 400px;
}

.bg-gray {
  background-color: $color_wild_sand_approx;
}

.box {
  margin: 80px auto 30px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  width: 40%;
}

.center {
  text-align: center;
}

.style-error {
  position: absolute;
  top: 65px;
}

.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.bg-none {
  background: none;
}

.box-devise {
  margin-top: 120px;
  margin-bottom: 100px;
  z-index: 10;
  opacity: 0.9;
  font-size: 14px;
  box-shadow: 0 10px 20px $black_19, 0 6px 6px rgba(0,0,0,0.23);
}

.bg-login {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('https://cdn-images-1.medium.com/max/1000/1*V9GdNPhBPL0p-wgL3hMdwQ.png');
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
  &:after {
    background-color: $color_log_cabin_approx;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    z-index: 1;
  }
}
.center {
  text-align: center;
}

.fix-padding8 {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.fix-padding {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.fix-py-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.home-book-title {
  height: 2.6rem;
  overflow: hidden;
  font-size: .9rem;
  font-weight: 700;
  color: $color_lochinvar_approx;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}

.home-book-author {
  height: 2.6rem;
  overflow: hidden;
  font-size: .75rem;
  color: $color_rich_gold_approx;
  font-weight: 700;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}


.title-silderbar {
  position: relative;
  font-size: 16px;
  font-weight: 600;
}

.content-silderbar {
  font-size: 14px;
  a {
    color: black;
    &:hover{
      color: $color_teal_approx;
      text-decoration: none;
    }
  }
}

.button-sliderbar {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  padding: 0;
}

[data-toggle='collapse'] .fa:before {  
  content: '\f077';
}

[data-toggle='collapse'].collapsed .fa:before {
  content: '\f078';
}

.borrow-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: $color_ferra_approx;
}

.search-box {
  width: 100%;
  position: relative;

  input {
    border-color: $color_mercury_approx;
    box-shadow: none
  }

  .input-group-btn .btn {
    border-color: $color_pine_green_approx;
    background: $color_pine_green_approx;
    outline: none;
  }
}


.search-box input, .search-box .btn {
  min-height: 38px;
  border-radius: 2px;
}


.navbar .navbar-right .dropdown-toggle::after {
  display: none;
}

.navbar .dropdown-menu-search {
  border-radius: 1px;
  border-color: $mercury;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  li a {
    padding: 6px 20px;
  }
}

.navbar .navbar-right .dropdown-menu-search {
  width: 400px;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
}

@media (max-width: 768px){
  .navbar .navbar-right .dropdown-menu-search {
  width: 100%;
  background: transparent;
  padding: 10px 20px;
  }
}

.dropdown-logout {
  background-color: $color_teal_approx;
}

.hide {
  display: none !important;
}

.bg-book-page {
  min-height: 30vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-image: url('https://cdn-images-1.medium.com/max/1000/1*V9GdNPhBPL0p-wgL3hMdwQ.png');
  &:after {
    background-color: $color_log_cabin_approx;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

.title-list {
  text-transform: uppercase;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

// Footer
#footer {
  background: $color_shark_approx !important;

  h5 {
    padding-left: 10px;
    border-left: 3px solid $color_gallery_approx;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: white;
  }

  a {
    color: white;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 400px;
}

.bg-gray {
  background-color: $color_wild_sand_approx;
}

.box {
  margin: 80px auto 30px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  width: 40%;
}

.center {
  text-align: center;
}

.style-error {
  position: absolute;
  top: 65px;
}

.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.bg-none {
  background: none;
}

.box-devise {
  margin-top: 120px;
  margin-bottom: 100px;
  z-index: 10;
  opacity: 0.9;
  font-size: 14px;
}

.bg-login {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('https://cdn-images-1.medium.com/max/1000/1*V9GdNPhBPL0p-wgL3hMdwQ.png');
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
  &:after {
    background-color: $color_log_cabin_approx;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    z-index: 1;
  }
}
.center {
  text-align: center;
}

.fix-padding8 {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.home-book-title {
  height: 2.6rem;
  overflow: hidden;
  font-size: .9rem;
  font-weight: 700;
  color: $color_lochinvar_approx;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}

.home-book-author {
  height: 2.6rem;
  overflow: hidden;
  font-size: .75rem;
  color: $color_rich_gold_approx;
  font-weight: 700;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}


.title-silderbar {
  position: relative;
}

.button-sliderbar {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  padding: 0;
}

[data-toggle='collapse'] .fa:before {  
  content: '\f077';
}

[data-toggle='collapse'].collapsed .fa:before {
  content: '\f078';
}

.borrow-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: $color_ferra_approx;
}

.search-box {
  width: 100%;
  position: relative;

  input {
    border-color: $color_mercury_approx;
    box-shadow: none
  }

  .input-group-btn .btn {
    border-color: $color_pine_green_approx;
    background: $color_pine_green_approx;
    outline: none;
  }
}

.mt-100 {
  margin-top: 100px;
}

.ml-140 {
  margin-left: 140px;
}

.style-image {
  margin-left: 80px;
  width: 250px;
  height: 300px;
}

.product-page {
  background: $white;
  padding: 22px;
  position: relative;
  margin-right: 10px;
}

.product-page h1 {
  border-bottom: 1px solid $wild_sand;
  padding-bottom: 12px;
}

.price-availability-block {
  border-bottom: 1px solid $wild_sand;
  padding-bottom: 12px;
  margin-bottom: 17px;
}

.price-availability-block .author {
  float: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

.price-availability-block .author strong {
  color: $color_pomegranate_approx;
}

.price-availability-block .author strong span {
  font-size: 15px;
  color: $color_oslo_gray_approx;
}

.price-availability-block .availability {
  float: right;
  color: $color_oslo_gray_approx;
}

.description {
  border-bottom: 1px solid $wild_sand;
}

.description p {
  margin: 0 0 10px;
}

.product-page-cart {
  border-bottom: 1px solid $wild_sand;
  padding-bottom: 20px;
  margin: 18px 0;
}

.review {
  border-bottom: 1px solid $wild_sand;
  padding-bottom: 15px;
}

.ml-25 {
  margin-left: 25px;
}

.checked {
  color: orange;
}

.social-button {
  margin-left: 20px;
  margin-top: 20px;
}

.social-share-button {
  .ssb-icon {
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
  }
}
// Search box header
.search-box input, .search-box .btn {
  min-height: 38px;
  border-radius: 2px;
}

.book-card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.navbar .navbar-right .dropdown-toggle::after {
  display: none;
}

.hide {
  display: none !important;
}

.bg-book-page {
  min-height: 30vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-image: url('https://cdn-images-1.medium.com/max/1000/1*V9GdNPhBPL0p-wgL3hMdwQ.png');
  &:after {
    background-color: $color_log_cabin_approx;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

.title-list {
  text-transform: uppercase;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.num-search {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

// Footer
#footer {
  background: $color_shark_approx !important;

  h5 {
    padding-left: 10px;
    border-left: 3px solid $color_gallery_approx;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: white;
  }

  a {
    color: white;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

// comment book show
.img-comment {
  max-width: 80px;
}

.comment-content {
  font-size: 14px;
}

.icon-cart {
  margin-top: 5px;
}

.text-available {
  float: right;
  margin-right: 5px;
}

.add-book {
  margin: 20px;
}

// auto complete search header
#showAutocomplete {
  margin: 0;
  padding:0;
  position: absolute;
  width: 307px;
  cursor: pointer;
  overflow-y: hidden;
  max-height: 400px;
  box-sizing: border-box;
  z-index: 1001;
  box-shadow: 0 10px 20px $black_19, 0 6px 6px rgba(0,0,0,0.23);
  a {
    color: black !important;
    padding: 0;
  }
}

.result-item {
  margin: 0;
  padding: 8px 12px;
  width:100%;
  background-color: white;
  border: 1px $color_mercury_approx solid;
  &:hover {
    background-color: $color_gallery_approx;
  }
}

.img-author {
  max-width: 180px !important;
}

.author-share-button {
  padding: 0 15px;
}
  
.ml-10 {
  margin-left: 10px;
}
