@import 'bootstrap';
@import 'color';
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-nav{
  a {
    font-size: 18px;
    color: white !important;
    &:hover{
      color: $color_spring_green_approx !important;
    }
  }
}

.navbar-brand {
    font-size: 18px;
    color: white !important;
    &:hover{
      color: $color_spring_green_approx !important;
    }
}

.affix-top{
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
}

.affix{
  background: rgba($color: black, $alpha: 0.7);
}

.searchForm {
  position:absolute;
  bottom: 35%;
}

.carousel-caption {
  top: 30%;
  
  font-family: Montserrat, sans-serif;
  p .h3 {
    font-size: 20px;
    font-weight: 700;
  } 
}


section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: $color_tropical_rain_forest_approx;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: $color_tropical_rain_forest_approx !important;
}

#footer h5{
padding-left: 10px;
  border-left: 3px solid $color_gallery_approx;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: white;
}

#footer a {
  color: white;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li{
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}

#footer ul.social li a,
#footer ul.quick-links li a{
  color:white;
}

#footer ul.social li a:hover{
  color: $color_gallery_approx;
}

#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}

#footer ul.quick-links li a i{
margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

.space-80 {
  height: 80px;
}

.mapouter{
  text-align:right;
  height:400px;width:400px;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:400px;
  width:400px;
}

.bg-gray {
  background-color: $color_wild_sand_approx;
}
