<div>
  <input type="checkbox" class="ckcategory" value="<%= filter_category.id %>" 
  id="<%= filter_category.id %>" name="category">
  <label for="<%= filter_category.id %>">
    <%= filter_category.name %>
  </label>
   <span class="float-right">
  </span>
</div>
