<div class="rating" data-book="<%= @book.id %>">
  <%= csrf_meta_tags %>
  <span class="rating-num"><%= book.avg_rating %></span>    
  <span class="rating-star" data-value="5"></span>
  <span class="rating-star" data-value="4"></span>
  <span class="rating-star" data-value="3"></span>
  <span class="rating-star" data-value="2"></span>
  <span class="rating-star" data-value="1"></span>
</div>
