<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-2 mt-sm-2 text-center text-white">
        <p><u>
          <a href="#">
            <%= t ".library" %>
          </a>
        </u></p>
        <p class="h6">
          <%= t ".copy" %>
          <a class="text-green ml-2" href="3" target="_blank">
            <%= t ".library" %>
          </a>
        </p>
      </div>
      </hr>
    </div>	
  </div>
</section>
