
<% if notice %>
  <span class="alert alert-success style-error">
    <%= notice %>
  </span>
<% end %>

<% if alert %>
  <span class="alert alert-danger style-error">
    <%= alert %>
  </span>
<% end %>
